<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Cadastro</title>
<!-- CSS only -->
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
</head>
<body>

	<!-- create navigation bar -->

	<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
				Hello
					<a class="navbar-brand" href="#" th:href="@{/}">Modulo de Login
						e Cadastro</a>
				</div>
			</div>
		</div>
	</nav>

	<br>
	<br>
	<!-- Create HTML registration form -->
	<div class="container">
		<div class="row">
			<div class="m-9">

				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">Você se cadastrou com sucesso!</div>
				</div>

				<h1>Registration</h1>

				<form th:action="@{/registration}" method="post" th:object="${user}">
					<div class="form-group">
						<label class="form-label" for="firstName"> Primeiro
							Nome </label> <input id="firstName" class="form-control"
							th:field="*{firstName}" required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="form-label" for="lastName"> Último Nome </label>
						<input id="lastName" class="form-control" th:field="*{lastName}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="form-label" for="email"> Email </label> <input
							id="email" class="form-control" th:field="*{email}" required
							autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="form-label" for="password"> Senha </label> <input
							id="password" class="form-control" type="password"
							th:field="*{password}" required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-success" style="margin-top:10px">Cadastro</button>
						<span>Já cadastrado? <a href="/" th:href="@{/login}">Logue
								aqui</a></span>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>